
.choice-btn {
  color: #943dff;
  height: 4em;
  width: 100%;
  border: 5px solid linear-gradient(120deg, rgba(148,61,255,1) 0%, rgba(157,67,168,1) 100%);
  border-radius: 10px;
  position: relative;
  margin-bottom: 10px;
  transition: all 0.2s ease-in-out;
}

.choice-btn:hover {
  cursor: pointer;
}

.choice-btn-hover:hover {
  background: #943dff;
  cursor: pointer;
  width: 95%;
} 

.choice-btn:active {
  transform: scale(0.95);
}


.choice-btn::before { 
  content: attr(data-label);
  color:  #e1e1e1;
  font-size: 14px;
  position: absolute;
  top: 21px;
  left: 22px;
}


.bar {
  background: linear-gradient(120deg, rgba(148,61,255,1) 0%, rgba(157,67,168,1) 100%);
  display: block;
  border-radius: 10px;
  height: 100%;
  width: 0%;
  transition: width 1s ease-in-out;
}

.percent {
  font-size: 16px;
  color: #e1e1e1;
  position: absolute;
  top: 17px;
  right: 20px;
}


